.food-item-calorie {
  display: block;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin: 50px ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.food-item-calorie h1 {
  /* font-size: 24px; */
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.food-item-calorie .calories {
  color: tomato;
  font-weight: bold;
}

.food-item-calorie .content {
  /* display: flex; */
  display: inline;
  justify-content: space-between;
  align-items: flex-start;
}

.nutritional-values, .exercise-info {
  flex: 1;
  margin: 0 10px;
}

.nutritional-values h2, .exercise-info h2 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  border-bottom: 2px solid tomato;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.nutritional-values table {
  width: 100%;
  border-collapse: collapse;
}

.nutritional-values table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.nutritional-values table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.exercise-info ul {
  list-style: none;
  padding: 0;
}

.exercise-info li {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.exercise-info li img {
  width: 50px;
  height: 50px;
  margin-right: 70px;
}
.span{
  color: tomato;
}

@media (max-width: 768px) {
  .food-item-calorie .content {
    flex-direction: column;
  }

  .nutritional-values, .exercise-info {
    margin: 0 0 20px 0;
  }
}
